
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=The+Nautigal&display=swap" );

.LoginForm{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle, black, white)
}


.probando{
    min-width: 30%;
    display: flex;
    min-height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    border: 1px solid #ffff;
    border-radius: 30px;
    position: relative;
    z-index: 0;
}
.probando::before, .probando::after {
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .probando::before {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .probando::after {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  

  
  .probando:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .probando:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .probando:hover {
    background: #fff;
  }



.Login-Form{
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    width: 55%;
}

.Login-Form>label{
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
}
.title-login{
    font-family: 'The Nautigal', cursive;
    margin: 0;
    padding-top: 50px;
    font-size: 70px;
}
.loginInput{
padding: 10px;
border-radius: 10px;
}
.login-button{
    margin-top: 15px;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
    padding: 10px;
    min-width: 100px;
    align-self: center;
    font-weight: bold;
    box-shadow: 10px -4px white;
}


