.separador {
    display: flex;
    justify-content: center;
}
.separador::after {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 35vw;
    left: 52%;
    border-bottom: 1px solid #1390da;
}
.separador::before {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 35vw;
    right: 52%;
    border-bottom: 1px solid #1390da;
}