.Container {
  border-radius: 40px;
  margin-bottom: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

.Image {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title {
  margin-top: 3em;
}

.title > h1 {
  text-align: center;
}

.title > p {
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px) {

  div .p-5 {
    padding: 0 !important;
  }
  .markdown{
    margin: 0 !important;
    max-width: 100% !important;
  }
  .snippet {
    max-width: 100% !important;
    margin-left: 1rem !important;
    margin-right: 2rem !important;
  }
}
