.img-responsive {
  border-radius: 5px;
  border: none;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center center;
}
.headerCard {
  display: flex;
  justify-content: space-between;
}

.content:hover .dropdownMenu {
  display: block;
}

.dropdownMenu {
  display: block;
  align-self: start;
}
.outside{
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 15px 1px #2d33883d;
}
.image-border{
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0;
  height: 45vh;
}
.content{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card-text{
  text-align: left !important;
}

hr{
  border-style:none; /*PARA QUE NO SALGAN LA LINEA*/
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px; /*CADA PUNTO ES UN PIXEL*/
}