.card-content{
    height: 100%;
    width: 100%;
    max-height: 500px;
    box-shadow: none !important;
    background-color: #f8f9fa !important;
}
@media only screen and (max-width: 1000px) {
    .card-content {
        min-height: 400px;
    }
}
