
.Container{
    background-color: #ffff;
    margin-top: 0;
    margin-left: 10vw;
    display: flex;
    height: 100vh;
    width: 80vw;
    border-left: solid 8px rgba(5, 5, 5, 0.5);
    border-radius: 4px;
}
.Image-container{
    padding-top: 20px;
    margin-top: 0;
    margin-left: 30px;
    width: auto;
    height: 50vh;
}
.Image{
    height: 40vh;
    border-radius: 5px;
}

.title{
    padding-left: 15px;
}
  