@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=The+Nautigal&display=swap");
.title-logo {
  font-family: "The Nautigal", cursive;
  font-size:xx-large;
  font-weight: bold;
}
.title-logo:hover {
  color: red;
}
.navbar {
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 14px -7px #0e180a69;
  background: linear-gradient(to right, white 70%, rgba(17, 0, 128, 0.464) 110%);
}
.link {
  text-decoration: none !important;
  color: #000000;
  margin-right: 2rem;
}
/* From Uiverse.io by cssbuttons-io */ 
.btn-navbar {
  position: relative;
  font-size: 15px !important;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 2em;
  font-family: inherit;
  font-weight: 520 !important;
  color: white !important;
  background-color: rgb(255, 1, 1) !important;
}
.test1{
  margin-left: 50vw;
  margin-right: 5px;
}
.test2-hide{
  border: none;
}
.btn-navbar:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-navbar:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-navbar::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-navbar::after {
  background-color: #000000;
}

.btn-navbar:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@media (max-width: 990px) {
  .btn-hide{
    display: none;
    color: #ffffff;
  }
  .btn-navbar{
    color: black !important;
    background-color: white !important;
    border-radius: 0 !important;
    width: 50vw !important;
  }
  .test1{
    margin-left: 0;
  }
}
.btn-hide{
  visibility: hidden;
}