@import url('https://fonts.googleapis.com/css2?family=Ramaraja&family=Oswald:wght@700&display=swap');
.box {
  margin: 15vw;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 20px;
  row-gap: 15px;
}

.image-resize {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100% !important;
  height: calc(100vh - 200px) !important;
  object-fit: cover;
  object-position: center center;
  opacity: 35%;
}
.carousel{
  position: relative;
  display: flex;
  width: 75% !important;
  height: calc(100vh - 200px);
  margin-left: 13%;
  margin-top: 3%;
}
.carousel-item{
  justify-content: center;
  width: 100% !important;
  height: 100%;
  background-color: black;
  border-radius: 5px;
}
.carousel-control-prev{
  height: 20px;
  width: 50px !important;
  transform: rotate(135deg);
  margin-top: 20%;
  }
  .carousel-control-next{
    height: 20px;
    width: 50px !important;
    transform: rotate(-45deg);
    margin-top: 20%;
    }
.arrow_carrot-next, .arrow_carrot-prev{
  height: 35px;
  width: 35px;
  display: block;
  border: 4px solid;
  border-color: #1d95cf;;
  background-color: #35a9e2;
  }

  .arrow_carrot-next::before{
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    height: 3px;
    width: 16px;
    border-radius: 3px;
    transform: rotate(90deg);
    right: 12px;
    margin-top: 19%;
  }
.arrow_carrot-next::after{
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 3px;
  width: 16px;
  border-radius: 3px;
  margin-top: 33%;
  margin-left: 7%;
}

.arrow_carrot-prev::before{
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 3px;
  width: 16px;
  border-radius: 3px;
  transform: rotate(90deg);
  right: 12px;
  margin-top: 19%;
}
.arrow_carrot-prev::after{
content: "";
display: block;
position: absolute;
background-color: white;
height: 3px;
width: 16px;
border-radius: 3px;
margin-top: 33%;
margin-left: 7%;
}

.title-card{
  color: white;
  font:bolder;
  font-family: 'Oswald', sans-serif;
  text-shadow: 0px 1px 2px #676767;
}
.title-card:hover{
  animation: scaleTitle 3.5s forwards;
}



@keyframes scaleTitle{
  100%{
    color: rgba(255, 255, 255, 0.9);
    font: bold;
    transform: scale(1.1);
    left: 10px;
}
}
.recents, .entries{
  color: #78c257;
  font-family: 'Ramaraja', serif;
  font-weight: 900;
}
.android{
  font-family: 'Ramaraja', serif;
  font-weight: 900;
}
.separador{
  display: flex;
  justify-content: center;
}
.separador::after{
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 35vw;
  left: 52%;
  border-bottom: 1px solid #1390da;
}
.separador::before{
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 35vw;
  right: 52%;
  border-bottom: 1px solid #1390da;
}


