.box {
  margin: 0;
  margin-top: 0;
}
/*.slide-img{
  max-height: min-content;
  max-width: max-content;
  object-fit: contain;
}*/

.image-resize {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 100% !important;
  height: calc(100vh - 200px) !important;
  object-fit: cover;
  object-position: center center;
}
.carousel-item{
  display: flex;
  margin-left: 10%;
  justify-content: center;
  width: 80% !important;
  height: calc(100vh - 200px);
}